<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Blog</title>
</head>
<body>
<header th:replace="layout :: site-header" />
    <div class="content">
        <h1>Welcome to Vladislav's Spring MVC Blog Project!</h1>
        <h2 th:unless="${session.LOGGEDIN_USER_NAME}" >For more option please
            <a href="register.html" th:href="@{/users/register}">register</a> or
            <a href="login.html" th:href="@{/users/login}">login</a>!
        </h2>
    </div>
<footer th:replace="layout :: site-footer" />
</body>
</html>